.wel{
    background-color: #000000;
    text-align: center;
    margin-bottom: 0;
    
}
.wel h6{
    color: #fcfcfc;
    font-size: 20px;
    margin-bottom: 0;
    padding: 3px;
}
.topnav {
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
   
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Eczar', serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #fffefe;
    color: #7f4816;
  }
  
 
  
  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
    display: flex;
  }
 
  .topnav-right input{
    width: 70%;
    padding: 6px;
    border: none;
    margin: auto;
    font-size: 17px;
    justify-content: space-around;
  } 
  .topnav-right button{
   width: 30%;
   padding: 0;
   background-color: rgb(255, 255, 255);
   border-radius: 20px;
   
  } 
  .example{
    display: flex;
   } 

   
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }
  
  
    body {
  font-family: Arial, Helvetica, sans-serif;
}

.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.pill-nav a:hover {
  background-color: #ddd;
  color: black;
}

.pill-nav a.active {
  background-color: #000;
  color: white;
}

  
  
  .product{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 60%;
    margin: 0 auto;
}
  .card {
    border: 0;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding:  10px ;
    font-family: 'Eczar', serif;
  }
  
  .title {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'Eczar', serif;
    margin-top: 10PX;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
   
  }
  
  a { 
    text-decoration: none;
    font-size: 22px;
    color: black;
    
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  /* .card:hover{
   
    transform: scale(1.1);
  } */
  .card img:hover{
   
    transform: scale(1.02);
  }




  .footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;

 }
 .footer p{
    margin: 0;
 }
