<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>controllers.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopAllControl</servlet-name>
        <servlet-class>controllers.ShopAllControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProductControl</servlet-name>
        <servlet-class>controllers.DetailProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>controllers.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpControl</servlet-name>
        <servlet-class>controllers.SignUpControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>controllers.SignUpControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>controllers.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageControl</servlet-name>
        <servlet-class>controllers.ManageControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControl</servlet-name>
        <servlet-class>controllers.DeleteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddControl</servlet-name>
        <servlet-class>controllers.AddControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriesControl</servlet-name>
        <servlet-class>controllers.CategoriesControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProduct</servlet-name>
        <servlet-class>controllers.GetProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditControl</servlet-name>
        <servlet-class>controllers.EditControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManageControl</servlet-name>
        <servlet-class>controllers.UserManageControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountControl</servlet-name>
        <servlet-class>controllers.DeleteAccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartControl</servlet-name>
        <servlet-class>controllers.AddToCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCartControl</servlet-name>
        <servlet-class>controllers.ProcessCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManager</servlet-name>
        <servlet-class>controllers.OrderManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInfoControl</servlet-name>
        <servlet-class>controllers.ChangeInfoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollectionManage</servlet-name>
        <servlet-class>controllers.CollectionManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNewProduct</servlet-name>
        <servlet-class>controllers.GetNewProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControl</servlet-name>
        <servlet-class>controllers.SearchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfoControl</servlet-name>
        <servlet-class>controllers.UserInfoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FogotPasswordControl</servlet-name>
        <servlet-class>controllers.FogotPasswordControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInfoOfUser</servlet-name>
        <servlet-class>controllers.ChangeInfoOfUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeSQOfUser</servlet-name>
        <servlet-class>controllers.ChangeSQOfUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopAllControl</servlet-name>
        <url-pattern>/shopall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProductControl</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageControl</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControl</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddControl</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriesControl</servlet-name>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProduct</servlet-name>
        <url-pattern>/getproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditControl</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManageControl</servlet-name>
        <url-pattern>/usermanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountControl</servlet-name>
        <url-pattern>/deleteAccout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartControl</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCartControl</servlet-name>
        <url-pattern>/processCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManager</servlet-name>
        <url-pattern>/orderManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInfoControl</servlet-name>
        <url-pattern>/changeInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollectionManage</servlet-name>
        <url-pattern>/collection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNewProduct</servlet-name>
        <url-pattern>/getNewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControl</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfoControl</servlet-name>
        <url-pattern>/userInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FogotPasswordControl</servlet-name>
        <url-pattern>/fogotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInfoOfUser</servlet-name>
        <url-pattern>/changeInfoOfUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeSQOfUser</servlet-name>
        <url-pattern>/changeSQOfUser</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
